body {
    background-color:#FFDAB9;
    text-align:center;
}

button {
    background-color:#C8D29D;
    color:#F18E7E;
    font-family:'Open Sans', Sans-Serif;
    font-weight:normal;
    width:185px;
    padding:10px;
    margin-top:50px;
    border-radius:8px;
    border:none;
}

button:hover {
    background-color:#8A9B46;
}

h1{
    font-family: 'Raleway', Sans-Serif;
    font-weight:bold;
    color:#EB7347;
}

h2 {
    font-family: 'Open Sans', Sans-Serif;
    font-weight:normal;
    color:#EE7A64;
}